body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.fundo {
    
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../img/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.forms {
    background-color: rgb(18, 95, 56);
    padding: 90px 35px 40px;
    border-radius: 5px;
    margin: 0;
}
.tituloform{
    
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-radius: 3px;
   
}
.titulogin {
    color: white;
    font-size: 15px;
    margin: 2px;
    font-weight: 400;
   
}
.titulogin > i{

    padding: 10px;
    background-repeat: no-repeat;
    background-image: url(../img/user-solid.svg);
    
}
.titulogin > input {

    text-align: center;
    padding-right: 60px;
    background-color: rgba(18, 95, 57, 0);
    border: none;
    color: white;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(26, 68, 31);
    outline: none;
}
.titulosenha {

    color: white;
    font-size: 15px;
    margin: 2px;
    margin-bottom: 3px;
    font-weight: 400;
    
}
.titulosenha > i{

    margin-top: 10px;
    padding: 10px;
    background-repeat: no-repeat;
    background-image: url(../img/key-solid.svg);
    
}
.titulosenha > input{

    padding-right: 60px;
    background-color: rgba(18, 95, 57, 0);
    border: none;
    color: white;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(26, 68, 31);
    outline: none;
}

.botao {

    display: flex;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 35px;
    background-color: rgb(9, 44, 27);
    color: rgb(255, 255, 255);
    font-weight: 400;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;
    
}
.botao:hover{
    background-color: rgb(24, 73, 48);
    transition: 0.3s;
}
.cadastrar{
    color: white;
    font-size: 10pt;
}