body {
    
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    
}
.fundo {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.forms {
    background-color: rgb(18, 95, 56);
    padding: 60px 50px;
    border-radius: 5px;
}
.tituloform{
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.user {
    color: white;
    font-size: 11pt;
    margin: 2px;
    margin-top: 30px;
    font-weight: 400;
}
.user > input {

    text-align: center;
    padding-right: 60px;
    background-color: rgba(18, 95, 57, 0);
    border: none;
    color: white;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(26, 68, 31);
    outline: none;
}
.descricao {
    font-size: 11px;
    margin: 2px;
    color: white;
    margin-bottom: 20px;
}
.nome{
    color: white;
    font-size: 11pt;
    margin: 2px;
    margin-top: 10px;
    font-weight: 400;
    
}
.nome > input {
    text-align: center;
    padding-right: 60px;
    background-color: rgba(18, 95, 57, 0);
    border: none;
    color: white;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(26, 68, 31);
    outline: none;
}
.senha {
    color: white;
    font-size: 11pt;
    margin: 2px;
    margin-bottom: 3px;
    font-weight: 400;
    
}
.senha > input{
    text-align: center;
    padding-right: 60px;
    background-color: rgba(18, 95, 57, 0);
    border: none;
    color: white;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(26, 68, 31);
    outline: none;
}
.botao {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border: none;
    border-radius: 35px;
    background-color: rgb(9, 44, 27);
    color: rgb(255, 255, 255);
    font-weight: 400;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
    
}
.botao:hover{
    background-color: rgb(97, 96, 177);
    transition: 0.3s;
    color: aqua;
}
.cadastrar{
    color: white;
    font-size: 10pt;
}
.cadastrofail{
    color: rgb(251, 255, 0);
    font-size: 11pt;
    text-align: center;
    margin-top: 10px;
}

