body {
    
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
}
.fundo {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.forms {
    background-color: rgb(18, 95, 56);
    padding: 100px 70px;
    border-radius: 5px;
}
.tituloform{
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    
}
.login {
    color: white;
    font-size: 16px;
    margin: 2px;
    margin-top: 30px;
    font-weight: 400;
}
.login > input {
    padding: 7px 50px;
    background-color: rgb(28, 175, 101);
    border: none;
    color: white;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 0px 4px rgb(11, 59, 35);
}
.descricao {
    font-size: 11px;
    margin: 2px;
    color: white;
}
.curso{
    color: white;
    font-size: 16px;
    margin: 2px;
    margin-top: 10px;
    font-weight: 400;
    
}
.curso > input {
    padding: 7px 50px;
    background-color: rgb(28, 175, 101);
    border: none;
    color: white;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 0px 4px rgb(11, 59, 35);
}
.senha {
    color: white;
    font-size: 16px;
    margin: 2px;
    margin-bottom: 3px;
    font-weight: 400;
    
}
.senha > input{
    padding: 7px 50px;
    background-color: rgb(28, 175, 101);
    border: none;
    color: white;
    outline: none;
    margin-bottom: 13px;
    border-radius: 5px;
    box-shadow: 2px 0px 4px rgb(11, 59, 35);
}
.botao {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border: none;
    border-radius: 5px;
    background-color: rgb(9, 44, 27);
    color: rgb(255, 255, 255);
    font-weight: 400;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 3px 1px 10px 1px rgb(11, 59, 35);
}
.botao:hover{
    background-color: rgb(97, 96, 177);
    transition: 0.3s;
    color: aqua;
}
.cadastrar{
    color: white;
    font-size: 10pt;
}
.errocadastro{
    color: rgb(251, 255, 0);
    font-size: 11pt;
    text-align: center;
    margin-top: 10px;
}